<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/javaScript/home.js">
</head>
<div id="form_fundo">
    <h1>LOGIN</h1>
    <h2>Bem vindo!</h2>
    <div id="img_login">
        <img src="/static/img/Captura de tela 2025-12-29 133639.png" alt="login">
    </div>
    <div id="form_frente">
        <form action="/login" id="login" method="post">
            <label for="nome">Nome:</label>
            <input type="text" name="username" id="name" required placeholder="Digite seu nome"><br><br>
            <label for="senha" id="senha">Senha:</label>
            <input type="password" name="senha" id="senha" required placeholder="Digite sua senha"><br><br>
            <button type="submit" id="btn_login">
                <span></span>
                <span></span>
                <span></span>
                <span></span>ENTRAR
            </button>
        </form>

    </div>
</div>

</body>

</html>