<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>VISA Taióbeiras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/home.css" />
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-top">
        <div class="navbar-logo">
          <img
            src="static\img\logo.png"
            alt="Vigilância Sanitária Taióbeiras"
          />
        </div>

        <div class="navbar-search">
          <input type="text" placeholder="O que você procura?" />
          <button>🔍</button>
        </div>

        <form action="/login" id="login" method="post">
          <button class="navbar-login">Login</button>
        </form>
      </div>

      <nav class="navbar-menu">
        <form action="/mapa" id="mapa" method="post">
          <button class="icon">🏠</button>
          <span>MAPA</span>
        </form>

        <a href="#">
          <span class="icon">🔍</span>
          <span>TRANSPARÊNCIA</span>
        </a>
        <a href="#">
          <span class="icon">📄</span>
          <span>PUBLICAÇÕES</span>
        </a>
        <a href="#">
          <span class="icon">🏛</span>
          <span>A PREFEITURA</span>
        </a>
        <a href="#">
          <span class="icon">🏙</span>
          <span>A NOSSA CIDADE</span>
        </a>
        <a href="#">
          <span class="icon">☰</span>
          <span>SERVIÇOS</span>
        </a>
      </nav>
    </header>

    <main class="container">
      <section class="card">
        <div class="card-header">
          <img src="icon.png" alt="" />
          <span>SECRETARIA MUNICIPAL DE SAÚDE DE TAIOBEIRAS</span>
        </div>

        <form
          action="/pesquisar_estabelecimentos"
          method="get"
          class="form-grid"
        >
          <input name="id" placeholder="ID" />

          <input name="nivel" placeholder="nivel" />

          <input name="classe" placeholder="classe" />

          <input name="razao_social" placeholder="RAZÃO SOCIAL" />
          <input name="nome_fantasia" placeholder="NOME FANTASIA" />
          <input name="endereco" placeholder="ENDEREÇO" />
          <input name="cnpj_ou_cpf" placeholder="CNPJ / CPF" />
          <input name="cnae" placeholder="CNAE" />
          <input name="numero_parecer_tecnico" placeholder="PARECER TÉCNICO" />
          <input name="ultima_inspecao" placeholder="ÚLTIMA INSPEÇÃO" />
          <input name="alvara" placeholder="ALVARÁ" />
          <input name="vigi_risco" placeholder="VIGI-RISCO" />
          <input name="observacoes" placeholder="OBSERVAÇÕES" />

          <select name="baixados">
            <option value="">BAIXADOS</option>
            <option value="SIM">SIM</option>
            <option value="NAO">NÃO</option>
          </select>

          <select name="excluidos">
            <option value="">EXCLUÍDOS</option>
            <option value="SIM">SIM</option>
            <option value="NAO">NÃO</option>
          </select>

          <div class="actions">
            <button type="reset">Limpar</button>
            <button type="submit" class="btn-search">Pesquisar</button>
          </div>
        </form>

        <div class="actions">
          <button class="btn-clear">Limpar</button>
          <button class="btn-search">Pesquisar</button>
        </div>
      </section>

      <section class="card">
        <h2>Licenciamentos encontrados:</h2>

        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Nível</th>
                <th>Nome Fantasia</th>
                <th>CNPJ</th>
                <th>Endereço</th>
                <th>Última Inspeção</th>
              </tr>
            </thead>
          <tbody>
            {% if resultados %}
              {% for e in resultados %}
              <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.nivel }}</td>
                <td>{{ e.nome_fantasia }}</td>
                <td>{{ e.cnpj_ou_cpf }}</td>
                <td>{{ e.endereco }}</td>
                <td>{{ e.ultima_inspecao }}</td>
              </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="8" style="text-align:center;">
                  Nenhum registro encontrado
                </td>
              </tr>
               
                <td><button class="btn-analisar">Analisar</button></td>
                </tr>
            {% endif %}
          </tbody>
          </table>
        </div>
      </section>

      <button class="btn-back">← Voltar</button>
    </main>
  </body>
</html>
