<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Agenda da Semana</title>
  <link rel="stylesheet" href="/static/css/agenda.css">
</head>
<body>

<header class="agenda-header">
  <h3>Agenda da semana</h3>
  <div class="agenda-actions">
    <button id="btn-recarregar" class="btn">Recarregar</button>
  </div>
</header>

<main class="board" id="agenda-grid"></main>

<script src="/static/javaScript/agenda.js"></script>
</body>
</html>
