<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login Visa Taióbeiras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/adm.css">
</head>
<body>

    <div class="login-entorno">
        <div class="login-cartao">

            <div class="logo">
                <img src="static\img\logo.png" alt="Vigilância Sanitária Taióbeiras">
            </div>

            <h2>Login Visa Taiobeiras</h2>

            <label for="matricula">Matrícula</label>

            <form action="/login" id="login" method="post">
                <div class="input-row">
                    <input type="text" id="matricula" name="matricula">
                    <button class="btn-entrar">Entrar</button>
                </div>
            </form>
            {% set mensagem = get_flashed_messages() %}
            {% if mensagem %}
                <div class="mensagem-erro">
                    {{mensagem[0]}}
                </div>
            {% endif %}
            
            <div class="divider">
                <span>OR</span>
            </div>

            <form action="/cadastrar" id="cadastrar" method="get">
                <button class="btn-cadastrar">Cadastrar</button>
            </form>

        </div>
    </div>

</body>
</html>
