<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Mapa Leaflet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS do Leaflet (OFICIAL) -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />

    <!-- CSS do mapa -->
    <link rel="stylesheet" href="/static/css/mapa.css">
</head>
<body>

    <!-- DIV DO MAPA (ID IGUAL AO EXEMPLO) -->
    <div id="map"></div>

    <!-- JS do Leaflet (OFICIAL) -->
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js">
    </script>

    <!-- Seu JS -->
    <script src="/static/javaScript/mapa.js"></script>

</body>
</html>
